body{
    position: relative;
    width: 1440px;
    height: 1024px;

    background: black;
}

.bg-image{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;


    background: url(img7.jpg);
}

.back-box{
    position: absolute;
    width: 1127px;
    height: 778px;
    left: 163px;
    top: 30px;
    
    background: rgba(2, 117, 103, 0.66);
    border: 1px solid #000000;
    box-sizing: border-box;
}

.back-box .header-box{
    position: absolute;
    width: 1127px;
    height: 105px;
    left: 0px;
    top: 0px;

    background: rgba(118, 239, 239, 0.48);
}

.back-box .header-box .logo{
    position: absolute;
    width: 82px;
    height: 82px;
    left: 35px;
    top: 11px;

    background: url(working.png);
}

.back-box .header-box .logo-name{
    position: absolute;
    width: 89px;
    height: 53px;
    left: 148px;
    top: 31px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
}

.back-box .header-box .home{
    position: absolute;
    width: 59px;
    height: 26px;
    left: 541px;
    top: 44px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

.back-box .header-box .line-under-home{
    position: absolute;
    width: 63px;
    height: 6px;
    left: 541px;
    top: 75px;

    background: #FA5E5E;
}

.back-box .header-box .about{
    position: absolute;
    width: 67px;
    height: 26px;
    left: 656px;
    top: 44px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

/* .line-under-about{
    position: absolute;
    width: 67px;
    height: 5px;
    left: 819px;
    top: 183px;

    background: #FA5E5E;
} */

.back-box .header-box .contact{
    position: absolute;
    width: 90px;
    height: 26px;
    left: 779px;
    top: 44px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

/* .line-under-contact{
    position: absolute;
    width: 97px;
    height: 5px;
    left: 942px;
    top: 185px;

    background: #FA5E5E;
} */

.back-box .header-box .gallery{
    position: absolute;
    width: 88px;
    height: 26px;
    left: 925px;
    top: 44px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

/* .line-under-gallery{
    position: absolute;
    width: 97px;
    height: 5px;
    left: 1086px;
    top: 182px;

    background: #FA5E5E;
} */

.back-box .back-circle{
    position: absolute;
    width: 569px;
    height: 238px;
    left: 183px;
    top: 346px;

    background: rgba(118, 239, 239, 0.07);
    border-radius: 50%;
}

.back-box .content-rectangle{
    position: absolute;
    width: 573px;
    height: 224px;
    left: 138px;
    top: 447px;

    background: rgba(118, 239, 239, 0.48);
    border: 4px solid white;
    border-radius: 50px;
}

.back-box .photo-circle{
    position: absolute;
    width: 235px;
    height: 201px;
    left: 589px;
    top: 334px;
    border-radius: 50%;
    border: 4px solid white;
    background: url(IMG_20210930_192351.jpg);
}

.back-box .fb-circle{
    position: absolute;
    width: 46px;
    height: 39px;
    left: 256px;
    top: 363px;
    border-radius: 50%;
    border: 3px solid black;
    background: #FFFFFF;
}

.back-box .insta-circle{
    position: absolute;
    width: 54px;
    height: 51px;
    left: 361px;
    top: 321px;
    border-radius: 50%;
    border: 3px solid black;
    background: #FFFFFF;
}

.back-box .linkedin-circle{
    position: absolute;
    width: 61px;
    height: 63px;
    left: 480px;
    top: 309px;
    border-radius: 50%;
    border: 3px solid black;
    background: #FFFFFF;
}

.back-box .insta-circle .insta-icon{
    position: absolute;
    width: 21px;
    height: 28px;
    left: 13px;
    top: 8px;

    font-family: Font Awesome 5 Brands;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */


    color: #000000;
}

.back-box .fb-circle .fb-icon{
    position: absolute;
    width: 15px;
    height: 30px;
    left: 13px;
    top: 3px;

    font-family: Font Awesome 5 Brands;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

}

.back-box .linkedin-circle .linkedin-icon{
    position: absolute;
    width: 25px;
    height: 32px;
    left: 15px;
    top: 12px;

    font-family: Font Awesome 5 Brands;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;

    color: #000000;
}

.back-box .content-rectangle .content{
    position: absolute;
    width: 400px;
    height: 108px;
    left: 108px;
    top: 49px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;

    color: #FFFFFF;
}

