body{
    position: relative;
    width: 1440px;
    height: 1024px;

    background: black;
}

.bg-image{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;


    background: url(img7.jpg);
}

.back-box{
    position: absolute;
    width: 1127px;
    height: 994px;
    left: 163px;
    top: 30px;
    
    background: rgba(2, 117, 103, 0.66);
    border: 1px solid #000000;
    box-sizing: border-box;
}

.back-box .header-box{
    position: absolute;
    width: 1127px;
    height: 105px;
    left: 0px;
    top: 0px;

    background: rgba(118, 239, 239, 0.48);
}

.back-box .header-box .logo{
    position: absolute;
    width: 82px;
    height: 82px;
    left: 35px;
    top: 11px;

    background: url(working.png);
}

.back-box .header-box .logo-name{
    position: absolute;
    width: 89px;
    height: 53px;
    left: 148px;
    top: 31px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
}

.back-box .header-box .home{
    position: absolute;
    width: 59px;
    height: 26px;
    left: 541px;
    top: 44px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

/* .back-box .header-box .line-under-home{
    position: absolute;
    width: 63px;
    height: 6px;
    left: 541px;
    top: 75px;

    background: #FA5E5E;
} */

.back-box .header-box .about{
    position: absolute;
    width: 67px;
    height: 26px;
    left: 656px;
    top: 44px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

/* .back-box .header-box .line-under-about{
    position: absolute;
    width: 67px;
    height: 5px;
    left: 656px;
    top: 73px;

    background: #FA5E5E;
} */

.back-box .header-box .contact{
    position: absolute;
    width: 90px;
    height: 26px;
    left: 779px;
    top: 44px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.back-box .line-under-contact{
    position: absolute;
    width: 97px;
    height: 5px;
    left: 779px;
    top: 75px;

    background: #FA5E5E;
}

.back-box .header-box .gallery{
    position: absolute;
    width: 88px;
    height: 26px;
    left: 925px;
    top: 44px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.back-box .phone-rectangle{
    position: absolute;
    width: 623px;
    height: 92px;
    left: 240px;
    top: 183px;
    border: 3px solid white;
    background: rgba(0, 0, 0, 0.35);
}

.back-box .phone-rectangle .phone-icon-rectangle{
    position: absolute;
    width: 121px;
    height: 91px;
    left: 0px;
    top: 0px;

    background: rgba(255, 255, 255, 0.65);
}

.back-box .phone-rectangle .phone-icon-rectangle .phone-icon{
    position: absolute;
    width: 50px;
    height: 40px;
    left: 29px;
    top: 27px;

    font-family: Font Awesome 5 Free;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

}

.back-box .mail-rectangle{
    position: absolute;
    width: 623px;
    height: 92px;
    left: 240px;
    top: 307px;
    border: 3px solid white;
    background: rgba(0, 0, 0, 0.35);
}

.back-box .mail-rectangle .mail-icon-rectangle{
    position: absolute;
    width: 121px;
    height: 91px;
    left: 0px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.65);
}

.back-box .mail-rectangle .mail-icon-rectangle .mail-icon{
    position: absolute;
    width: 50px;
    height: 40px;
    left: 29px;
    top: 27px;

    font-family: Font Awesome 5 Free;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

}

.back-box .phone-rectangle .phone-content{
    position: absolute;
    width: 216px;
    height: 47px;
    left: 186px;
    top: 23px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */


    color: #FFFFFF;

}

.back-box .mail-rectangle .mail-content{
    position: absolute;
    width: 216px;
    height: 47px;
    left: 186px;
    top: 23px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */


    color: #FFFFFF;

}

.back-box .name-rectangle{
    position: absolute;
    width: 623px;
    height: 92px;
    left: 240px;
    top: 431px;

    font-size: 35px;
    font-family: IBM Plex Sans;
    color: #FFFFFF;
    text-align: center;
    border: 3px solid white;
    background: rgba(0, 0, 0, 0.35);
}

.back-box .msg-rectangle{
    position: absolute;
    width: 623px;
    height: 200px;
    left: 240px;
    top: 555px;
    font-size: 35px;
    font-family: IBM Plex Sans;
    color: #FFFFFF;
    text-align: center;
    border: 3px solid white;
    background: rgba(0, 0, 0, 0.35);
}

.back-box .send-button{
    position: absolute;
    width: 193px;
    height: 74px;
    left: 455px;
    top: 782px;

    background: rgba(255, 255, 255, 0.65);
    border-radius: 50px;
    border: 3px solid black;
    
}

